{% extends "base.html" %}

{% block content %}
    <br>
    <div class="row">

        <div class="col-lg-3 col-md-0 col-sm-0"></div>

        <div class="col-lg-2 col-md-4 col-sm-6">
            <a href="{{ url_for('login_student') }}" class="card-link">
                <div class="card wysrodkowanie card-shadow">
                    <div class="card-body">
                        <h5 class="card-title">Uczeń</h5><br>
                        <p class="card-text">Logowanie dla uczniów</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-0"></div>

        <div class="col-lg-2 col-md-4 col-sm-6">
            <a href="{{ url_for('login_teacher') }}" class="card-link">
                <div class="card wysrodkowanie card-shadow">
                    <div class="card-body">
                        <h5 class="card-title">Nauczyciel</h5><br>
                        <p class="card-text">Logowanie dla nauczycieli</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-0 col-sm-0"></div>

    </div>
{% endblock %}