{% extends "base.html" %}

{% block content %}
    <br><h1>Panel nauczyciela</h1><br><br><br><br>
    <div class="row">
        <section class="col-4">
            <ul>
                <p>Lista uczniów:</p>
                {% for uczen in uczniowie %}
                <li>{{ uczen.login }}</li>
                {% endfor %}
            </ul>
        </section>

        <section class="col-4"><form action="" method="post" novalidate class="wysrodkowanie">
            {{ formO.hidden_tag() }}
            <p>Dodaj ocenę</p>

            <p>{{ formO.przedmiot.label }}</p>
            <p>{{ formO.przedmiot(class_="form-select fc") }}</p>
            {% for error in formO.przedmiot.errors %}
                <p class="log-frm-val-err">[{{ error }}]</p>
            {% endfor %}

            <p>{{ formO.uczen.label }}</p>
            <p>{{ formO.uczen(class_="form-select fc") }}</p>
            {% for error in formO.uczen.errors %}
                <p class="log-frm-val-err">[{{ error }}]</p>
            {% endfor %}

            <p>{{ formO.ocena.label }}</p>
            <p>{{ formO.ocena(class_="form-select fc") }}</p>
            {% for error in formO.ocena.errors %}
                <p class="log-frm-val-err">[{{ error }}]</p>
            {% endfor %}

            <p>{{ formO.submit(class_="btn btn-primary") }}</p>
        </form></section>

        <section class="col-4"><form action="" method="post" novalidate class="wysrodkowanie">
            {{ formN.hidden_tag() }}
            <p>Dodaj ogłoszenie</p>

            <p>{{ formN.tytul.label }}</p>
            <p>{{ formN.tytul(class_="form-control fc") }}</p>
            {% for error in formN.tytul.errors %}
                <p class="log-frm-val-err">[{{ error }}]</p>
            {% endfor %}

            <p>{{ formN.tresc.label }}</p>
            <p>{{ formN.tresc(class_="form-control fc") }}</p>
            {% for error in formN.tresc.errors %}
                <p class="log-frm-val-err">[{{ error }}]</p>
            {% endfor %}

            <p>{{ formN.submit(class_="btn btn-primary") }}</p>
        </form></section>
    </div>
{% endblock %}