{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        <div id="img-avatar-container">
            <img src="/static/img_avatar2.png" alt="Avatar" id="img-avatar">
        </div>
        {{ form.hidden_tag() }}
        <p class="wysrodkowanie login-form">{{ form.login.label }}</p>
        <p class="wysrodkowanie login-form">{{ form.login() }}</p>
        {% for error in form.login.errors %}
            <p class="log-frm-val-err">[{{ error }}]</p>
        {% endfor %}

        <p class="wysrodkowanie login-form">{{ form.password.label }}</p>
        <p class="wysrodkowanie login-form">{{ form.password() }}</p>
        {% for error in form.password.errors %}
            <p class="log-frm-val-err">[{{ error }}]</p>
        {% endfor %}

        <p class="wysrodkowanie login-form">{{ form.password2.label }}</p>
        <p class="wysrodkowanie login-form">{{ form.password2() }}</p>
        {% for error in form.password2.errors %}
            <p class="log-frm-val-err">[{{ error }}]</p>
        {% endfor %}

        <p class="wysrodkowanie login-form">{{ form.nauczyciel() }} {{ form.nauczyciel.label }}</p>
        {% for error in form.nauczyciel.errors %}
            <p class="log-frm-val-err">[{{ error }}]</p>
        {% endfor %}

        <div id="container-btn-log"><p class="wysrodkowanie" id="btn-login" type="button">{{ form.submit() }}</p></div>
    </form>
{% endblock %}